# Copy to /lib/systemd/system/runner.service
# systemctl enable runner
# systemctl start runner

[Unit]
Description=runner server
Wants=cloud-final.service
After=cloud-final.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="PYTHONUNBUFFERED=True"
ExecStart=/opt/jcalibrador-client/worker.py
StandardInput=tty-force

WorkingDirectory=/opt/jcalibrador-client
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
