# Copy to /lib/systemd/system/runner.service
# systemctl enable runner
# systemctl start runner

[Unit]
Description=runner server
Wants=cloud-final.service
After=cloud-final.service

[Service]
Type=simple
EnvironmentFile=/etc/environment
Environment="PYTHONUNBUFFERED=True"
ExecStart=/opt/jcalibrador-client/worker.py
#ExecStart=/usr/bin/python /opt/jcalibrador-client/worker.py

WorkingDirectory=/opt/jcalibrador-client
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=runner

[Install]
WantedBy=multi-user.target
